@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<h1 class="text-danger">Erro</h1>

<h2 class="text-danger">Servidor com problemas</h2>
<p>
    <strong>Aconteceu um erro enquanto processavamos sua requisição.</strong>
</p>
